<nav class="flex align-center">
      <p><span>My</span>Application</p>
      <ul>
            <li class="big-screens">
                  <a href="#">Home</a>
                  <a href="#">Store</a>
                  <a href="#">About Us</a>
                  <a class="btn register" href="/register">Register</a>
                  <a class="btn login" href="/login">Log In</a>
            </li>
            <li class="small-screens">
                  <i class="fa-solid fa-bars"></i>
            </li>
      </ul>
</nav>