<section class="container">
      <div class="register-container">
            <div class="form-container">

                  <form [formGroup]="registreForm" (ngSubmit)="onRegistre()">
                        <h1>Register</h1>
                        <p>Please fill in this form to create an account.</p>
                        <hr>

                        <label for="email"><b>Email</b></label>
                        <app-input-field class="input-field " label="Email" type="email" placeholder="Enter Email"
                              [control]="registreForm.get('email')"></app-input-field>

                        <label for="psw"><b>Password</b></label>

                        <div class="input-container">


                              <app-input-field class="input-field " label="password" 
                                    placeholder="Enter password" (copy)="false" formControlName="password"
                                    [type]="showPassword ? 'text' : 'password'" (paste)="false" (cut)="false"
                                    [control]="registreForm.get('password')"></app-input-field>
                              <button type="button" (click)="showPassword = !showPassword" class="eye-btn">
                                    {{ showPassword ? '🙈' : '👀' }}
                              </button>
                        </div>




                        <p style="color:red"
                              *ngIf="registreForm.get('password')?.hasError('weakPassword') && registreForm.get('password')?.touched">
                              Password must have at least 1 uppercase letter, 1 number, 1 special character, and 6
                              characters minimum
                        </p>
                        <label for="psw-repeat"><b>Repeat Password</b></label>
                        <div class="input-container">

                              <app-input-field class="input-field " label="password"  
                                    formControlName="repeatedPassword" placeholder="Repeat Password"
                                    [type]="showRepeatedPassword ? 'text' : 'password'" id="psw-repeat" (copy)="false"
                                    (paste)="false" (cut)="false"
                                    [control]="registreForm.get('repeatedPassword')"></app-input-field>

                              <button type="button" (click)="showRepeatedPassword = !showRepeatedPassword"
                                    class="eye-btn">
                                    {{ showRepeatedPassword ? '🙈' : '👀' }}
                              </button>
                        </div>
                        <p style="color:red"
                              *ngIf="registreForm.errors?.['mismatch'] && registreForm.get('repeatedPassword')?.touched">
                              Passwords do not match</p>



                        <button class="opacity" [disabled]="registreForm.invalid" class="subbmit">SUBMIT</button>


                        <p *ngIf="error" style="color:red">{{ error }}</p>

                        <div class=" signin">
                              <p>Already have an account? <a href="/login">Sign in</a>.</p>
                        </div>
                  </form>

            </div>
      </div>
      <div class="theme-btn-container"></div>
</section>